* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body);
}

:root {
  --background: #0a0f19;
  --text: white;
  --body: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--background);
}

#app {
  width: 100%;
  color: var(--text);
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  color: var(--text);
}

button:hover {
  background-color: hsl(220, 20%, 30%);
}
